
@(user: User)
@main("About", user) {

    <div class="col-sm-8 col-md-offset-2">

        <div><strong><h1>About the application.</h1></strong><hr></div>
        <div>
            <dl class="dl-horizontal" align="left">
                <dt>Description:</dt>
                <dd>The purpose of the application is to aid individuals/organizations in organizing a garage sale.<br><br></dd>
                <dt>List of Features:</dt>
                <dd>
                    <strong>Before a sale:</strong>
                    <ul>
                        <li>Create a garage sale</li>
                        <li>List items</li>
                        <li>Print tags</li>
                        <li>Share/advertise on social media</li>
                        <li>Assign roles to other organizers</li>
                        <li>Search of an item or sale</li>
                        <li>Bidding and purchasing of items on-line.</li>
                    </ul>
                    <strong>During a sale:</strong>
                    <ul>
                        <li>Create transaction</li>
                        <li>Email receipt</li>
                    </ul>
                    <strong>After a sale:</strong>
                    <ul>
                        <li>Deactivate sale</li>
                        <li>View financial reports</li>
                    </ul>
                    <strong>Others:</strong>
                    <ul>
                        <li>Special privileges for superuser, administrator, seller, cashier, and bookkeeper.</li>
                        <li>Registration</li>
                        <li>Log In</li>
                        <li>Lock / Unlock users</li>
                    </ul>

                </dd>
                <dt>Class:</dt>
                <dd>2340 Object Oriented Programming - Summer 2016 <br><br></dd>
                <dt>Instructor:</dt>
                <dd>Dan Forsyth <br><br></dd>
                <dt>Tools:</dt>
                <dd>Java, Javascript, Ajax, jQuery, HTML, Scala, Bootstrap, Play Framework. <br><br></dd>
                <dt>Developers: </dt>
                <dd>Kijjakarn Praditukrit, Muhannad Alshihabi, Naman Kanakiya, Jonathan Lian, Kim Nguyen<br><br></dd>
                <dt>Github:</dt>
                <dd><a href="https://github.gatech.edu/kpraditukrit3/Garage-Sales-Group-5">https://github.gatech.edu/kpraditukrit3/Garage-Sales-Group-5</a> <br><br></dd>
            </dl>
        </div>
    </div>

}
